@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100;
  }
}

@layer components {
  .intent {
    @apply flex justify-between items-center hover:shadow-xl p-4 cursor-pointer rounded-lg text-black bg-white max-w-md mx-auto xl:mx-0;
  }

  .sidebarButton {
    @apply dark:border-t border-gray-600 py-3 px-4 opacity-80 hover:opacity-100 cursor-pointer;
  }

  .sidebarLink {
    @apply text-[13px] font-medium text-blue-500 hover:underline cursor-pointer px-2.5;
  }
}
